/* Move down content because we have a fixed navbar that is 50px tall */

    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: #CACACA;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

    p {
        font-family: Helvetica;
        font-weight: normal;
}

/******************************************
******CUSTOM BOOTSTRAP NAVBAR**************
******************************************/

    .navbar-default {
        background-color: #5c5c5c;
        border-color: #9c9c9c;
        letter-spacing: 2px;
        font-weight: bold;

}
    .navbar-default .navbar-brand {
        color: #ecf0f1;
}
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #000000;
}
    .navbar-default .navbar-text {
        color: #ecf0f1;
}                    
    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
}
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #000000;
}
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

        color: #000000;
        background-color: #9c9c9c;
}
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #000000;
        background-color: #9c9c9c;
}
    .navbar-default .navbar-toggle {
        border-color: #9c9c9c;
}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #9c9c9c;
}
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ecf0f1;
}
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
}
    .navbar-default .navbar-link {
        color: #ecf0f1;
}
    .navbar-default .navbar-link:hover {
        color: #000000;
}



/******************************************
******JUMBOTRON IMAGE AND HEADER***********
******************************************/

    .jumbotron {
        background: url("../img/0489.jpg") no-repeat;
        background-position:40% 30%;
        background-size: cover;
        padding: 15%;
        margin: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

    .jumbotron h3 {
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        text-shadow: 1px 1px 50px #0fa4a2;
        opacity: 1; 
        letter-spacing: 5px;
}

    #sPhones {
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        text-shadow: 1px 1px 50px #0fa4a2;
        opacity: 1; 
        letter-spacing: 5px;
}



/******************************************
******HEADLINE*****************************
******************************************/

    #header {
        font-size:40px;
        letter-spacing: 4px;
        font-weight: bold;
}



/******************************************
******PROJECTS SECTION*********************
******************************************/

    .projects {
        line-height: 1.75;
        letter-spacing: 0.9px;
}

    .projects h3, .projects a {
        letter-spacing: 2px;
        font-weight: bold;
        color: #000;
}

    a:focus, a:hover {
        color: #fff;
}



/******************************************
******HEADLINE*****************************
******************************************/

    #about {
        background-color: #18BC9C;
        margin-bottom: 500px;
    }

    #about p {
        color: #fff;
        font-size: 20px;
        line-height: 1.5;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
        vertical-align: center;
        letter-spacing: 1.2px;
        
    }



/***** Media Queries ********/

/**FOR JUMBOTRON **/

    @media screen and (max-width: 768px) {
        .jumbotron h3 {
            font-size: 20px;
    }
}

    @media screen and (max-width: 480px) {
        .jumbotron h3 {
            display: none;
            font-size: 18px;
            text-shadow: 1px 1px 100px #0fa4a2;
    }
}

    @media screen and (max-width: 480px) {
        #sPhones {
            display: block;
            font-size: 18px;
            text-shadow: 1px 1px 100px #0fa4a2;
            line-height: 1.5;
    }
}

    @media screen and (min-width: 480px) {
        .jumbotron h3 {
            display: block;
    }
        #sPhones {
            display: none;
    }
}


/** FOR NAVBAR **/

    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #ecf0f1;
    }
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #000000;
    }
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #000000;
            background-color: #9c9c9c;
    }
}





